.Fight-Main-Field{
  display: flex;
  width: 1000px;
  height: 800px;
  margin: auto;
  flex-direction: column;
}

.FightingDisplayArea{
  width: 1000px;
  height: 600px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
}

.info-card{
  width: 400px;
  height: 150px;
  background-color: bisque;
}

.FightingControlArea{
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 200px;
  background-color: aquamarine;
}

.AttackTable{
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.AttackTable>div{
  display: flex;
  flex-direction: row;
}

.AttackTag{
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
}

.AttackInfo{
  width: 400px;
  height: 200px;
}