
.Fight-Main-Field{
  display: flex;
  width: 1000px;
  height: 800px;
  margin: auto;
  flex-direction: column;
}

.Fighting-Display-Area{
  width: 1000px;
  height: 600px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
}

.info-card{
  width: 400px;
  height: 150px;
  background-color: bisque;
}

.Fighting-Footer{
  position: absolute;
  top: 600px;
  width: 1000px;
  height: 200px;
  background-color: aquamarine;
}

.Fighting-Control-Area{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0px;
  width: 1000px;
  height: 200px;
  background-color: aquamarine;
} 

.attack-table{
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.attack-table>div{
  display: flex;
  flex-direction: row;
}

.attack-tag{
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
}

.App {
  overflow: hidden;
}

.attack-info{
  width: 400px;
  height: 200px;
}

@keyframes typing {
  from { width: 0 }
}

.Fighting-Text-Area{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  width: 1000px;
  height: 200px;
  background-color: aquamarine;
}

.text-input{
  display: flex;
  text-align: right;
  font-size: 40px;
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  animation-iteration-count: infinite;
}