.Fight-Main-Field{
  display: flex;
  width: 1000px;
  height: 800px;
  margin: auto;
  flex-direction: column;
}

.Fighting-Display-Area{
  width: 1000px;
  height: 600px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
}

.info-card{
  width: 400px;
  height: 150px;
  background-color: bisque;
}

.Fighting-Control-Area{
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 200px;
  background-color: aquamarine;
} 

.attack-table{
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.attack-table>div{
  display: flex;
  flex-direction: row;
}

.attack-tag{
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
}

.attack-info{
  width: 400px;
  height: 200px;
}